In [1]:
import metapack as mp 

%load_ext autoreload
%autoreload 2

import logging
logging.basicConfig()

In [2]:
# pkg = mp.jupyter.open_package()
pkg = mp.jupyter.open_source_package()
pkg.set_sys_path()
import pylib

xm = pylib.ExtractManager(pkg)

from pylib import logger
logger.setLevel(logging.INFO)

In [13]:

xm.table_code_map

{'b01001_001': 'total_population',
 'b01001_002': 'make',
 'b01001_026': 'female',
 'b11009_001': 'households',
 'b11009_002': 'households_unmaried',
 'b11009_007': 'households_cohabiting',
 'b15001_001': 'population_over_18',
 'b15001_002': 'male_over_18',
 'b15001_043': 'female_over_18'}

In [15]:

xm.census_set

INFO:pylib.extract:Assemble frames in to dataset
INFO:pylib.extract:Make aggregate map

,geoid,total_population,make,female,households,households_unmaried,households_cohabiting,population_over_18,male_over_18,female_over_18,male_u18,female_u18,male_18_40,female_18_40,senior,male_18_44_college,female_18_44_college
0,14000US01001020100,1993,907,1086,765,15,750,1579,722,857,185,229,292,311,264,70,53
1,14000US01001020200,1959,1058,901,719,21,698,1540,769,771,289,130,317,226,284,41,49
2,14000US01001020300,3507,1731,1776,1296,83,1213,2700,1310,1390,421,386,561,497,562,49,152
3,14000US01001020400,3878,1949,1929,1639,49,1590,3166,1581,1585,368,344,560,458,949,264,166
4,14000US01001020500,10596,5256,5340,4174,27,4147,7918,3798,4120,1458,1220,1669,1706,1463,607,793
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73996,14000US72153750501,6113,2820,3293,1561,68,1493,4509,2050,2459,770,834,863,974,810,287,406
73997,14000US72153750502,2388,1098,1290,710,38,672,1795,849,946,249,344,366,382,352,105,219
73998,14000US72153750503,2126,1001,1125,598,44,554,1582,706,876,295,249,176,330,447,35,313
73999,14000US72153750601,4397,1967,2430,1151,130,1021,3244,1451,1793,516,637,592,577,761,78,187
74000,14000US72153750602,2225,1130,1095,792,44,748,1973,958,1015,172,80,281,248,565,32,158

In [6]:
xm._df  = None
xm.census_set.head()

INFO:pylib.extract:Assemble frames in to dataset
INFO:pylib.extract:Make aggregate map

,geoid,b01001_001,b01001_002,b01001_026,b11009_001,b11009_002,b11009_007,b15001_001,b15001_002,b15001_043,male_u18,female_u18,male_18_40,female_18_40,senior,male_18_44_college,female_18_44_college
0,14000US01001020100,1993,907,1086,765,15,750,1579,722,857,185,229,292,311,264,70,53
1,14000US01001020200,1959,1058,901,719,21,698,1540,769,771,289,130,317,226,284,41,49
2,14000US01001020300,3507,1731,1776,1296,83,1213,2700,1310,1390,421,386,561,497,562,49,152
3,14000US01001020400,3878,1949,1929,1639,49,1590,3166,1581,1585,368,344,560,458,949,264,166
4,14000US01001020500,10596,5256,5340,4174,27,4147,7918,3798,4120,1458,1220,1669,1706,1463,607,793