In [1]:
import metapack as mp 
import pandas as pd
%load_ext autoreload
%autoreload 2

import logging
logging.basicConfig()

from functools import reduce
from itertools import chain
from pathlib import Path
from auto_tqdm import tqdm

In [2]:
# pkg = mp.jupyter.open_package()
pkg = mp.jupyter.open_source_package()
pkg

# Demosearch Census Extract
`civicknowledge.com-census-demosearch-1.2.4` Last Update: 2021-02-22T03:50:21

_Extract of select census variables for demographic radius searches_


## Building the package

Because the package can spend a long time downloading census data, a Jupyter notebook
will time out. So, to build this package:

1. Run `invoke build` to build CSV files in the data directory. Use `--force` to overwrite existing files.
2. Run `mp build` to build the package




## Contacts

* **Wrangler** [Eric Busboom](mailto:eric@civicknowledge.com), [Civic Knowledge](http://civicknowledge.com)

## Resources

* ** [census_set](file:data/census_set.csv)**. Tract datasets combined into a single frame
* ** [agg_map](file:data/agg_map.csv)**. Description of which columns were aggregated together

## References
<ul><li> <strong>B01001</string>, <em>census://2019/5/US/tract/B01001</em>. Sex by age</li><li> <strong>B01002</string>, <em>census://2019/5/US/tract/B01002</em>. Median Age by Sex</li><li> <strong>B11009</string>, <em>census://2018/5/US/tract/B11009</em>. Coupled Households by Type</li><li> <strong>B26105</string>, <em>census://2018/5/US/tract/B26105</em>. Group Quarters Type (3 Types) by School Enrollment</li><li> <strong>B15001</string>, <em>census://2019/5/US/tract/B15001</em>. Sex by Age by Educational Attainment</li><li> <strong>income_quartiles</string>, <em>metapack+http://library.metatab.org/civicknowledge.com-income_dist-tract.csv#income_quartiles</em>. Estimtes of population in each income quartile per tract</li><li> <strong>aggregate_income</string>, <em>metapack+http://library.metatab.org/civicknowledge.com-income_dist-tract.csv#census</em>. Census variabes related to income</li><ul>

In [12]:
pkg.set_sys_path()
import pylib

xm = pylib.ExtractManager(pkg)

df = xm.census_set

INFO:pylib.extract:Collect frames

  0%|          | 0/7 [00:00<?, ?it/s]

INFO:pylib.extract:Assemble frames in to dataset
INFO:pylib.extract:Make aggregate map

In [24]:
xm._df = None
df =xm.census_set
df.head()

INFO:pylib.extract:Assemble frames in to dataset
INFO:pylib.extract:Make aggregate map

,geoid,total_population,male,female,households,households_unmaried,households_cohabiting,population_over_18,male_over_18,female_over_18,...,gt60k,median_income,agg_income,agg_hh_income,hhinc_00,hhinc_20,hhinc_40,hhinc_60,hhinc_80,hhinc_95
0,14000US01001020100,1993,907,1086,765,15,750,1579,722,857,...,53.265339,60208,62231000,58707900,1702529.10,4091940.63,8471549.97,13491075.42,3.095668e+07,1.325624e+07
1,14000US01001020200,1959,1058,901,719,21,698,1540,769,771,...,51.687664,43958,40718100,36164700,1348943.31,3149945.37,6025039.02,9203916.15,1.643686e+07,5.265580e+06
2,14000US01001020300,3507,1731,1776,1296,83,1213,2700,1310,1390,...,102.173289,55345,86089300,82071900,3373155.09,8338505.04,14280510.60,20091201.12,3.598853e+07,1.151469e+07
3,14000US01001020400,3878,1949,1929,1639,49,1590,3166,1581,1585,...,125.838425,59663,125932600,123080000,6363236.00,14264972.00,19988192.00,29403812.00,5.305979e+07,2.017281e+07
4,14000US01001020500,10596,5256,5340,4174,27,4147,7918,3798,4120,...,336.796215,66108,414151800,403905900,12924988.80,41319573.57,62645805.09,88980469.77,1.980351e+08,1.089334e+08

In [21]:
t = pd.read_csv('../data/census_set.csv')
t.head()

,total_population,male,female,households,households_unmaried,households_cohabiting,population_over_18,male_over_18,female_over_18,male_u18,...,gt60k,median_income,agg_income,agg_hh_income,hhinc_00,hhinc_20,hhinc_40,hhinc_60,hhinc_80,hhinc_95
0,1993,907,1086,765,15,750,1579,722,857,185,...,53,60208,62231000,58707900,1702529,4091940,8471549,13491075,30956675,13256243
1,1959,1058,901,719,21,698,1540,769,771,289,...,51,43958,40718100,36164700,1348943,3149945,6025039,9203916,16436856,5265580
2,3507,1731,1776,1296,83,1213,2700,1310,1390,421,...,102,55345,86089300,82071900,3373155,8338505,14280510,20091201,35988528,11514687
3,3878,1949,1929,1639,49,1590,3166,1581,1585,368,...,125,59663,125932600,123080000,6363235,14264972,19988192,29403812,53059788,20172812
4,10596,5256,5340,4174,27,4147,7918,3798,4120,1458,...,336,66108,414151800,403905900,12924988,41319573,62645805,88980469,198035062,108933421