In [1]:
import seaborn as sns
import metapack as mp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display 
from tqdm.notebook import tqdm

from pathlib import Path

from demosearch import FileCache

%matplotlib inline
sns.set_context('notebook')
mp.jupyter.init()


%run ./lib.py

In [2]:
#pkg = mp.jupyter.open_package()
pkg = mp.jupyter.open_source_package()
pkg

# Demosearch Census Extract
`civicknowledge.com-census-demosearch-3.1.1` Last Update: 2021-05-27T22:33:29

_Extract of select census variables for demographic radius searches_


## Building the package

Because the package can spend a long time downloading census data, a Jupyter notebook
will time out. So, to build this package:

1. Run `invoke build` to build CSV files in the data directory. Use `--force` to overwrite existing files.
2. Run `mp build` to build the package




## Contacts

* **Wrangler** [Eric Busboom](mailto:eric@civicknowledge.com), [Civic Knowledge](http://civicknowledge.com)

## Resources

* ** [tracts](notebooks/Tracts.ipynb#tracts)**. US Census tracts
* ** [population](notebooks/Population.ipynb#population)**. US Census population estimates, for tracts
* ** [households](notebooks/Households.ipynb#households)**. US Census, households, estimates, for tracts

## References
<ul><li> <strong>us_states</string>, <em>censusgeo://2019/5/US/state</em>. US States geographic boundaries</li><li> <strong>us_tracts_template</string>, <em>censusgeo://2019/5/{st}/tract</em>. Template URL for US tracts</li><li> <strong>B01001</string>, <em>census://2019/5/US/tract/B01001</em>. Sex by age</li><li> <strong>B01002</string>, <em>census://2019/5/US/tract/B01002</em>. Median Age by Sex</li><li> <strong>B15003</string>, <em>census://2019/5/US/tract/B15003</em>. Educational Attainment</li><li> <strong>B19313</string>, <em>census://2019/5/US/tract/B19313</em>. Aggregate Income</li><li> <strong>B08303</string>, <em>census://2019/5/US/tract/B08303</em>. Travel Time to Work</li><li> <strong>B23025</string>, <em>census://2019/5/US/tract/B23025</em>. Employment Status</li><li> <strong>B09001</string>, <em>census://2019/5/US/tract/B09001</em>. Population Under 18 Years by Age</li><li> <strong>B17001</string>, <em>census://2019/5/US/tract/B17001</em>. Poverty Status by Sex by Age</li><li> <strong>C24020</string>, <em>census://2019/5/US/tract/C24020</em>. Sex by Occupation for the Full-time, Year-round Civilian Population</li><li> <strong>B25013</string>, <em>census://2019/5/US/tract/B25013</em>. Tenure by Educational Attainment of Householder</li><li> <strong>B19025</string>, <em>census://2019/5/US/tract/B19025</em>. Aggregate Household Income</li><li> <strong>B11009</string>, <em>census://2019/5/US/tract/B11009</em>. Coupled Households by Type</li><li> <strong>B26103</string>, <em>census://2019/5/US/tract/B26103</em>. Group Quarters Type (3 Types)</li><li> <strong>utm_bands</string>, <em>metapack+http://s3.amazonaws.com/radius.civicknowledge.com/civicknowledge.com-mgrs.csv#utm_bands</em>. UTM bands as polygons</li><li> <strong>utm_bands_buffered</string>, <em>metapack+http://s3.amazonaws.com/radius.civicknowledge.com/civicknowledge.com-mgrs.csv#utm_bands_buffered</em>. UTM band polygons, buffered by 10Km</li><ul>

In [3]:
%%time
# Fetch all of the frames. Cache the dict of frames. By loading it first
# we can add to it if the set of census tables changes. 
     
t = get_group(pkg, 'pop')  

population = conform_schema(t, pkg, 'population')
population.head().T

  0%|          | 0/9 [00:00<?, ?it/s]

CPU times: user 18.8 s, sys: 1.98 s, total: 20.8 s
Wall time: 30 s

,0,1,2,3,4
geoid,14000US01055010700,14000US01055001300,14000US01055000900,14000US01055001700,14000US01055010501
tract_id,0,1,2,3,4
total_population,3459,2927,2213,1682,8468
male,1681,1458,1076,755,4098
female,1778,1469,1137,927,4370
population_16gte,2890,2525,2012,1441,6945
population_18lt,668,462,248,268,1754
seniors,722,238,590,234,1532
agg_income,81490500,42149100,43570000,29897100,294057000
poverty,317,1158,294,517,615
over25_college,417,105,96,152,1850
over25_high_school,1814,1222,1278,653,3838
workers,1502,1362,867,762,3851
commute_25lt,842,1109,641,662,2317
commute_25gte,660,253,226,100,1534
labor_force,1714,1467,909,850,4305
civilian_employed,1646,1366,877,762,4181
civilian_unemployed,68,101,32,88,124
armed_forces,0,0,0,0,0
not_in_labor_force,1176,1058,1103,591,2640
management_occupations,274,189,125,121,1550
service_occupations,146,366,49,186,244
sales_occupations,223,73,81,83,632
construction_occupations,125,83,20,60,185
manufacturing_ocupations,257,203,351,76,563

import re
from collections import defaultdict

# Top level occupations. There should be two for each title, one male, one female
tlo = defaultdict(set)

for c in cols:
    p = [e for e in re.split(r'\s+-\s+', c) if e.strip()]
    try:
        x = (p[p.index('Total')+2:])
        
        if len(x)==1:
            col_name = p[0].split()[0]
            tlo[p[-1]].add(col_name)
        
    except ValueError:
        pass
    
    
for k,v in tlo.items():
    print(k)

for k,v in tlo.items():
    print(','.join(v))